/* Author : Hannad Rehman Wed Nov 09 2016 17:50:35 GMT+0530 (India Standard Time)*/
@import "../../Application/colors.scss"; 
 @import "../../Application/variables.scss";

 .album-cover{
 	    width: 200px;
    height: 140px;
    border: 1px solid #efeaea;
    box-shadow: 1px 3px 13px #eaeaea;
     
    background-size: 100%;
    cursor:pointer;
    position:relative;
    border-radius:4px;
 }
 .album-cover:hover{
 	opacity:0.8;
 	 box-shadow:  1px 3px 23px #615f5f;
 	 @include simple-all-css-transition(0.5s);
 	
 }
 .album-details{
 	position:absolute;
 	width:100%;
 	height:100%;
 	top:0;
 	left:0;
 }
 .album-details label{
 	    position: absolute;
    bottom: 0;
    padding: 0px 10px 1px 19px;
    font-weight: 100;
    color: #fff;
    background-color: gray;
    width: 100%;
    display:none;
    @include simple-all-css-transition(0.5s);
 }
 .album-cover:hover>.album-details>label{
 	display:block;

 }