<!-- Author : Hannad Rehman Mon Nov 07 2016 12:10:03 GMT+0530 (India Standard Time)-->

<div class="row">
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">Hangular-modern Design</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li ><a href="#/photos">Photos</a></li>
        <li><a href="#/posts">Posts</a></li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="fa fa-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="fa fa-times"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>