/* Author : Hannad Rehman Thu Nov 10 2016 10:12:03 GMT+0530 (India Standard Time)*/
@import "../../Application/colors.scss"; 
 @import "../../Application/variables.scss";

 .post-cover{
    width: 100%;
    background-color: #f9f9f9;
    position: relative;
    border-radius: 4px;
    box-shadow: 1px 3px 13px #bbbbbb;
    border: 1px solid #c1c1c1;
    padding:10px;
 }
 .post{
 	    padding: 10px;
    border: 1px solid #c6ccf5;
    border-radius: 4px;
    background-color: #eff0f5;
    
    .post-body{
    	margin-left:40px;
	 	font-weight:100;

    }
    .post-title{
	 	font-weight:100;
    	color:darkblue;
    	font-weight:600;
    }
    .comments{
    	margin-left: 40px;
    margin-right: 40px;
    background-color: #fbfbff;
    border: 1px solid #d8dcef;
    border-radius: 4px;
    }
    .add-comment{
       padding: 1px;
    }
    .txt-comment{
        width:89.7%;
        height:60px;
    }
    .btn-comment{
           width: 10%;
    height: 60px;
    border: none;
    outline: 0;
    background-color: #3F51B5;
    color: #fff;
    font-weight: 700;
    margin-left:-3px;


    }
 }
 