<!-- Author : Hannad Rehman Wed Dec 07 2016 00:51:22 GMT+0530 (IST)-->
<div class="row">
  <div class="col-md-12">
    <div class="gif-container">
    <ul class="gif-nav">
      <li ng-click="gif.navClick('trending')">Trending</li>
      <li ng-click="gif.navClick('random')">Random</li>
    </ul>
    <div class="inner-views">
      <div class="display-data">
        <div class="row">
          <gif-display type='gif.elements.type'></gif-display>
        </div>
      </div>

      </div>
    </div>
    </div>
  </div>
</div>
